* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: var(--text);
    background: var(--bg)
}

.container {
    max-width: var(--container);
    margin: 1.25rem auto;
    padding: 1rem
}